html,body{
	margin:0px;
}
div.myapp{
	position:relative;		
	min-height: 100%
}
div.header{
	background-color: black;
	border: 1px solid black;
	width: 100%;
	height: 20%;
	position: fixed;
	display: table;
  	table-layout: fixed;
}
div.header > ul{
	list-style-type : none;
	position:absolute;
	left:180 ;
	 float: left;
	 display: flex;
  flex-direction: row;
}

div.header > ul li{
	display: inline;
	padding-right: 120px;

}
div.header a{
	color:white;
	text-decoration: none;
}

div.header a:hover {
    color: green;
}


ul {
  
}