ul>li {
	list-style-type : none;
	padding-right: 40px;
	display: inline;
}
div.main{
	position: relative;
	background-color: orange;
	width: 800px;
	height: 25px;
	border-radius: 10px;
	margin-left: 230px;
}
div.vertical-line{
	display: inline;
	border : 2px solid black;
	height: 42px;

}