<h2>Help View</h2>
	<ul>
		<li ng-click='listtype ="showlist1"'>Showlist1</li>
		<li ng-click='listtype ="showlist2"'>Showlist2</li>
		<li ng-click='listtype ="showlist3"'>Showlist3</li>
		<li ng-click='listtype ="showlist4"'>Showlist4</li>
	</ul>
	<div ng-switch on='listtype'>
		<div ng-switch-when ="showlist1">
			<ng-include src="'templates/list1.html'"></ng-include>
			<h1>LIST1</h1>
			<p>{{listtype}}</p>
		</div>
		<div ng-switch-when ="showlist2">
			<h1>LIST2</h1>
			<p>{{listtype}}</p>
		</div>

		<div ng-switch-when ="showlist3">
			<h1>LIST3</h1>
			<p>{{listtype}}</p>
		</div>

		<div ng-switch-when ="showlist4">
			<h1>LIST4</h1>
			<p>{{listtype}}</p>
		</div>
		<div ng-switch-default>
			<h1>default</h1>
			<p>{{listtype}}</p>
		</div>
	</div>